{% extends "board/base.html" %}
{% block content %}

    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for internship in internships %}
        <div class="col">
          <div class="card h-100">
            <div class="card-header">
              <small class="text-muted">{{ internship.company }}</small>
              <!-- <small class="btn btn-outline primary"></small> -->
              <a href="{{ internship.app_link }}" class="btn btn-outline-primary float-end">Apply Here</a>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ internship.position_title }}</h5>
              <a href="{% url 'show-internship' internship.id %}" class="btn btn-outline-secondary ">Learn More</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{ internship.staff }}</small>
            </div>
            
          </div>
        </div>
        {% endfor %}  
    </div>
{% endblock content %}