{% extends "board/base.html" %}
{% block content %}

{% if submitted %}
    You added an internship successfully!

{% else %}
<div class="container">
  <form action="" method=POST>
    {% csrf_token %}
    {{form.as_table}}
    <!-- <div class="mb-3">
      <input class="form-control" type="text" placeholder="Company Name" aria-label="default input example">
    </div>
    <div class="mb-3">
      <input class="form-control" type="text" placeholder="Position Title" aria-label="default input example">
    </div>
    <div class="mb-3">
      <input class="form-control" type="url" placeholder="Application Link" aria-label="default input example">
    </div>
    <div class="mb-3">
      <input class="form-control" type="text" placeholder="Company Name" aria-label="default input example">
      <textarea class="form-control" placeholder="Job Description" rows="3"></textarea>
    </div> -->
    <button type="submit" class="btn btn-outline-primary">Submit</button>
  </form>
</div>

{% endif %}
{% endblock content %}