{% extends "board/base.html" %}
{% block job_listings %}
<div class="container">
  <form action="intupload/" method="post">
    {% csrf_token %}
    {{form}}
    <div class="mb-3">
      <input class="form-control" type="text" placeholder="Company Name" aria-label="default input example">
    </div>
    <div class="mb-3">
      <input class="form-control" type="text" placeholder="Position Title" aria-label="default input example">
    </div>
    <div class="mb-3">
      <input class="form-control" type="url" placeholder="Application Link" aria-label="default input example">
    </div>
    <div class="mb-3">
      <!-- <input class="form-control" type="text" placeholder="Company Name" aria-label="default input example"> -->
      <textarea class="form-control" placeholder="Job Description" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-outline-primary">Submit</button>
  </form>
</div>
{% endblock job_listings %}